#dataToShow{
    display: flex;
}

.dataItem{
    padding: 20px 200px 10px 50px;
    font-size: 1.5em;
    display: flex;
}

.dataItem h4{
    padding-right: 20px;
}

#map {
    position: relative;
    height: 500px;
    width: 95%;
    margin: 0   auto;
    z-index: 1;
}