
/* This is to mantein the footer in the bottom
of the page when the content is not enough to fill the page */
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    margin-top: auto;
}
/* This is to adjust size of header and footer no mather of the screen size */
header, footer{
    min-width: 100%;
}