body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

header{
    text-align: auto;
    background: url(images/bg.jpg);
    padding: 40px;
}

header h1 img{
    width: 15%;
}


.caja{
    width: 940px;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 100px;
    right: 0;

}

nav ul .develop{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.seleccion{
    color: #c78c19;
    text-decoration: underline;
    height: max-content;
}

.banner{
    width: 100%;
}


footer{
    text-align: center;
    background: url(images/bg.jpg);
    padding: 40px;
}

footer img{
    width: 5%;
}

.copyright{
    color: black;
    font-size: 13px;
    margin: 20px;
}

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .contenido, .contenido-diferenciales, .mapa-contenido, .video{
        width: auto;
    }

}