body{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* This is to adjust size of header and footer no mather of the screen size */
header, footer{
    min-width: 100%;
}

/* START STYLING THE HEADER */
header{
    width: 100%;
    padding: 0 60px;
    height: 60px;
    background: url(images/bg.jpg);
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 2;
}

header nav{
    display: flex;
}

header .logo{
    height: 40px;
    width: fit-content;
    align-self: center;
}

header .logo img{
    height: 100%;
}

header ul{
    height: 100%;
    padding-left: 40px;
    list-style: none;
    display: flex;
    align-self: center;
}

header .develop{
    display: block;
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    font-size: 1.5rem;
    color: white;
    text-transform: uppercase;
}

header ul li{
    position: relative;
}

header ul li a{
    display: block;
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

header ul li a:hover{
    background-color: orange;
    color: black;
}

/* START DROPDOWN STYLING */
header ul li ul{
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -40px;
    transition: all ease-in-out 100ms;
}

header ul li ul li{
    background: url(images/bg.jpg);
}

header ul li ul li a{
    white-space: nowrap;
}

header ul li:hover>ul{
    visibility: visible;
    opacity: 1;
    display: block;
}
/* END DROPDOWN STYLING */
/* END STYLING THE HEADER */

main{
    padding-top: 70px;
}

.banner{
    width: 100%;
}

/* START STYLING THE FOOTER */
footer{
    text-align: center;
    background: url(images/bg.jpg);
    padding: 40px;
    margin-top: auto;
}

footer img{
    width: 5%;
}

.copyright{
    color: white;
    font-size: 13px;
    margin: 20px;
}
/* END STYLING THE FOOTER */

@media screen and (max-width:480px){
    h1{
        text-align: center;
    }

    nav{
        position: static;
    }

    .caja, .principal, .contenido, .contenido-diferenciales, .mapa-contenido, .video{
        width: auto;
    }

}